[Unit]
Description= Start Pure Data

[Service]
ExecStart=/home/pi/posteDecoute/scripts/startPd
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty8

[Install]
WantedBy=multi-user.target
